/* DocumentUploadModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-content {
    background: linear-gradient(to bottom right, #222, #000);
    padding: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
    border: 1px solid var(--yellow-ranger-yellow);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.modal-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--yellow-ranger-medium-grey);
    color: var(--yellow-ranger-yellow);
    border: 1px solid var(--yellow-ranger-yellow);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.modal-close-button:hover {
    background-color: var(--yellow-ranger-yellow);
    color: var(--yellow-ranger-black);
    box-shadow: 0 0 10px var(--yellow-ranger-yellow);
    transform: scale(1.1);
}
